.userRankText {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.playerList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 36px;
    margin-bottom: 24px;
    grid-gap: 36px;
    grid-column-gap: 80px;
}

.avatarAndUserName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    padding: 36px 80px 24px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName {
    font-family: "Roboto";
    font-size: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    margin-top: 4px;
}

.userUserName {
    font-family: "Roboto";
    font-size: 30px;
    color: #FF9AC5;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    margin-top: 4px;
}